@font-face {
  font-family: 'SVN Gilrol'; /* Tên font sẽ sử dụng */
  src: url("./Assets/SVN-GilroyMedium.otf") format('truetype'); /* Đường dẫn tới font file */
  /* Các thuộc tính font khác nếu cần */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SVN Gilrol", sans-serif !important;
}
html {
  font-size: 11px;
}
img {
  max-width: 100%;
  height: auto;
}
.App {
  min-height: 100vh;
  width: 100vw;
  max-width: 1900px;
  margin: 0rem auto;
}
body {
  max-width: 100%;
  overflow-x: hidden;
}

span {
  color: #ffca3e;
}

/* goat housse */
.house-page-container {
  background: linear-gradient(to bottom, #e1e1e1, #ffffff);
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.house-page-container .choosen {
  font-size: 5rem;
  margin-top: 3rem;
}
.house-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5rem;
  padding-left: 12rem;
  padding-right: 12rem;
  gap: 2rem;
}
.goat-com-container {
  width: 20vw;
  height: 16rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: #ffca3e;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1.5rem;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.goat-com-container:hover {
  background-color: rgb(164, 164, 164);
  transform: scale(1.1);
}
.goat-com-container h1 {
  color: white;
  font-weight: bold;
  margin-top: 5px;
}
.goat-com-container p {
  color: black;
  font-weight: bold;
  margin-top: 1.5rem;
}
.goat-com-container img {
  margin-top: 5px;
  width: 60px;
  height: 60px;
}

body {
  background-color: #f6f6f6;
}

nav {
  background-color: #c7c5cd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 10rem;
}
.nav-logo-container {
  display: flex;
  margin-left: 5rem;
  align-items: center;
}
.nav-logo-container img{
    margin-left: 2rem;
    width: 100px;
    height: 100px;
}
.nav-logo-container h1 {
  font-size: 30px;
  font-weight: bold;
  margin-left: 1.5rem;
}
.navbar-menu-container {
  margin-right: 2rem;
  display: none;
}
.navbar-links-container {
  display: flex;
  align-items: center;
  margin-right: 3rem;
}
.search-icon {
  margin-right: 3rem;
}
.navbar-links-container a {
  margin-right: 3rem;
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  font-weight: 600;
}
.guest-button {
  padding: 0.9rem 1.75rem;
  background-color: #ffca3e;
  outline: none;
  border: none;
  border-radius: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: 900;
  transition: 0.2s;
}
.login-button {
  padding: 0.9rem 1.75rem;
  margin-right: 1.5rem;
  background-color: #212121;
  color: white;
  outline: none;
  border: none;
  border-radius: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: 900;
  transition: 0.2s;
}
.primary-button {
  padding: 1.2rem 2rem;
  max-width: 35rem;
  margin-top: 4rem;
  background-color: #ffc000;
  color: black;
  outline: none;
  border: none;
  border-radius: 2rem;
  font-size: 2rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}
.navbar-cart-icon {
  font-size: 5rem;
}
.primary-button:hover {
  background-color: rgb(234, 234, 234);
}
.guest-button:hover {
  background-color: rgb(234, 234, 234);
}
.login-button:hover {
  background-color: rgb(234, 234, 234);
}
.navbar-menu-container svg {
  font-size: 1.5rem;
  cursor: pointer;
}
.home-container {
  background-image: url("./Assets/11.png");
  height: 100vh;
  background-size: cover; /* Adjust this value as needed */
  background-position: center;
}
.home-banner-container {
  position: relative;
  display: flex;
  padding-top: 3rem;
}
.home-bannerImage-container {
  position: absolute;
  top: -100px;
  right: -170px;
  z-index: -2;
  max-width: 800px;
}
.home-image-section {
  max-width: 600px;
  flex: 1;
}
.home-text-section {
  margin-top: 9rem;
  margin-left: 12rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.primary-heading {
  font-size: clamp(2rem, 5vw, 4rem);
  color: black;
  max-width: 40%;
}
.primary-heading-about {
  font-size: clamp(2rem, 5vw, 4rem);
  color: black;
  max-width: 900px;
}
.primary-heading-work {
  font-size: clamp(2rem, 2.2vw, 4rem);
  color: black;
  font-weight: bolder;
  max-width: 900px;
}
.primary-heading-monial {
  font-size: clamp(2rem, 2.2vw, 4rem);
  color: black;
  font-weight: bolder;
  max-width: 900px;
}
.primary-text {
  font-size: clamp(1rem, 2vw, 1.5rem);
  max-width: 600px;
  color: white;
  margin: 1.5rem 0rem;
}
.primary-text-about {
  font-size: clamp(1rem, 3vw, 1.5rem);
  max-width: 40%;
  color: black;
  margin: 1.5rem 0rem;
}
.primary-text-work {
  font-size: clamp(1rem, 1.2vw, 1.5rem);
  max-width: 75%;
  font-weight: 100;
  color: black;
  margin: 1.5rem 0rem;
}
.primary-text-monial {
  font-size: clamp(1rem, 1.2vw, 1.5rem);
  max-width: 42%;
  font-weight: 200;
  color: black;
  margin: 1.5rem 0rem;
}
.secondary-button {
  padding: 1rem 2.5rem;
  background-color: #fe9e0d;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  color: white;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.secondary-button svg {
  margin-left: 0.75rem;
  font-size: 1.5rem;
}
.secondary-button:hover {
  background-color: #e48f0f;
}

/* css container */
.about-section-container {
  background-image: url("./Assets/22.png");
  background-size: cover; 
  background-position: center;
  height: 90vh;
  padding-top: 3rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.work-section-container {
  background-image: url("./Assets/33.png");
  background-size: contain; 
  background-color: white;
  background-repeat: no-repeat;
  background-position: left bottom;
  height: 100vh;
  padding-top: 3rem;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.work2-section-container {
  background-image: url("./Assets/55.png");
  background-size: cover; 
  background-position: center;
  height: 100vh;
  padding-top: 3rem;
  position: relative;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}
.monial-section-container {
  background-image: url("./Assets/44.png");
  background-color: white;
  background-size: contain; 
  background-repeat: no-repeat;
  background-position: left top;
  height: 100vh;
  padding-top: 3rem;
  position: relative;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}
.monial2-section-container {
  background-image: url("./Assets/66.png");
  background-size: cover; 
  background-position: center;
  height: 100vh;
  padding-top: 3rem;
  position: relative;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}

.about-section-text-container {
  margin-left: 11rem;
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.work-section-text-container {
  margin-left: 50%;
  flex: 1;
  padding-top: 7rem;
  display: flex;
  flex-direction: column;
}

.work-section-text-container .child:last-child {
  align-self: flex-start;
}
.monial-section-text-container {
  margin-left: 11rem;
  padding-top: 5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.primary-subheading {
  font-weight: 700;
  color: #fe9e0d;
  font-size: 1.15rem;
}
.about-buttons-container {
  margin-top: 2rem;
  display: flex;
}
.contact-page-wrapper h1 {
  max-width: 900px !important;
}
.contact-page-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 6rem 0rem;
}
.contact-form-container {
  background-color: white;
  max-width: 700px;
  width: 100%;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 5rem;
}
.contact-form-container input {
  flex: 1;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
}
.footer-wrapper {
  background-image: url("./Assets/77.png");
  background-color: rgb(34, 34, 34);
  height: 100vh;
  background-size: contain; /* Adjust this value as needed */
  background-repeat: no-repeat;
  background-position: center;
}
.footer-logo-container {
  max-width: 110px;
}
.footer-icons {
  margin-top: 2.5rem;
}
.footer-icons svg {
  font-size: 1.5rem;
  margin-right: 1.25rem;
  color: #585858;
}
/* .footer-section-one {
  border: 2px solid blue;
} */
.footer-section-two {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.footer-section-columns {
  display: flex;
  flex-direction: column;
  min-width: 190px;
}
.footer-section-columns span {
  margin: 0.25rem 0rem;
  font-weight: 600;
  color: #4c4c4c;
  cursor: pointer;
}
.testimonial-section-bottom {
  margin-top: 2rem;
  background-color: white;
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 750px;
  border-radius: 2rem;
  flex-direction: column;
  text-align: center;
}
.testimonial-section-bottom {
  margin: 2rem auto;
}
.testimonial-section-bottom p {
  font-weight: 700;
  color: #515151;
  max-width: 500px;
  font-size: 1.1rem;
  margin: 2rem 0rem;
}
.testimonials-stars-container svg {
  margin: 0rem 0.25rem;
  font-size: 1.5rem;
  color: #fe9e0d;
}
.testimonial-section-bottom h2 {
  margin-top: 1.5rem;
}
.work-section-wrapper {
  margin-top: 15rem;
}
.work-section-top p {
  text-align: center;
  max-width: 600px !important;
}
.work-section-top h1 {
  max-width: 700px !important;
}
.work-section-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.work-section-info {
  width: 290px;
  min-height: 350px;
  background-color: white;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 1rem;
  color: #505050;
  margin: 1rem 2rem;
}
.work-section-info h2 {
  margin: 1rem 0rem;
}
.work-section-bottom {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.work-section-info p {
  flex: 1;
  display: flex;
  align-items: center;
  font-weight: 600;
}

@media (max-width: 1000px) {
  .navbar-links-container a {
    margin-right: 1rem;
    font-size: 1rem;
  }
  .primary-button {
    font-size: 1rem;
  }
  .home-bannerImage-container {
    max-width: 600px;
  }
}
@media (max-width: 800px) {
  .nav-logo-container {
    max-width: 140px;
  }
  .navbar-links-container {
    display: none;
  }
  .navbar-menu-container {
    display: flex;
  }
  .home-bannerImage-container {
    max-width: 450px;
  }
  .home-banner-container,
  .about-section-container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .about-section-container {
    flex-direction: column;
  }
  .home-image-section,
  .about-section-image-container {
    width: 100%;
    max-width: 400px;
  }
  .primary-heading {
    text-align: center;
    max-width: 90%;
  }
  .primary-text {
    text-align: center;
    max-width: 80%;
  }
  .home-text-section,
  .about-section-text-container {
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
  }
  .secondary-button {
    font-size: 1rem;
    padding: 0.8rem 2rem;
    cursor: pointer;
  }
  .about-section-container {
    margin-top: 5rem !important;
  }
  .about-buttons-container {
    justify-content: center;
    flex-direction: column;
  }
  .primary-subheading {
    text-align: center;
  }
  .watch-video-button {
    margin-left: 0rem !important;
    margin-top: 1rem;
    font-size: 1rem !important;
  }
  .watch-video-button svg {
    margin-right: 0.5rem !important;
  }
  .about-section-image-container {
    margin-right: 0rem !important;
  }
  .work-section-wrapper {
    margin-top: 5rem !important;
  }
  .work-section-bottom {
    margin-top: 1rem !important;
  }
  .contact-form-container {
    padding: 0.5rem !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem !important;
  }
  .contact-form-container input {
    font-size: 1rem !important;
    max-width: 100%;
    padding: 0.5rem 1rem !important;
    margin-bottom: 0.8rem !important;
    text-align: center;
  }
  .footer-wrapper {
    flex-direction: column;
  }
  .footer-section-two {
    flex-direction: column;
    margin-top: 2rem;
  }
  .footer-section-columns {
    margin: 1rem 0rem;
  }
  .App {
    max-width: 95vw;
  }
}
@media (max-width: 600px) {
  .home-bannerImage-container,
  .about-background-image-container {
    display: none;
  }
}

@media screen and (min-resolution: 96dpi) {
  /* Assuming 100% scale */
  html {
    font-size: 16px; /* Font size when the user uses 100% scale */
  }
}
@media screen and (min-resolution: 110dpi) {
  /* Assuming 100% scale */
  html {
    font-size: 11px; /* Font size when the user uses 100% scale */
  }
}

#burger-grey {
  color: #585858;
}
#error-page {
  display: flex;
  margin-top: 10rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.goat1 {
  background-image: url(./Assets/intern2.png);
  height: 100vh;
  background-size: contain; /* Adjust this value as needed */
  background-repeat: no-repeat;
  background-position: center;
}
.goat2 {
  background-image: url(./Assets/master2.png);
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat; /* Adjust this value as needed */
  background-position: center;
}
.goat3 {
  background-image: url(./Assets/hint2.png);
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat; /* Adjust this value as needed */
  background-position: center;
}
.goat4 {
  background-image: url(./Assets/item2.png);
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat; /* Adjust this value as needed */
  background-position: center;
}
.goat5 {
  background-image: url(./Assets/adviser2.png);
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat; /* Adjust this value as needed */
  background-position: center;
}
.goat6 {
  background-image: url(./Assets/judger2.png);
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat; /* Adjust this value as needed */
  background-position: center;
}